{% extends "base.html" %}
{% load rest_framework %}
{% block title %}¡Bienvenid@!{% endblock %}
{% block content %}
<div class="container">
<h1>Select today's meal!</h1>
{{ menu.name}}
    <ul class="list-group">
        {% for choice in menu.choices.all %}
        <li class="list-group-item">Option {{ forloop.counter}}: {{ choice.description }}</li>
        {% endfor %}
    </ul>
</div>
<div id="container" class="container">
{% if serializer %}

<form action="{% url 'menu:menu-employee-choice' pk=menu.pk %}" id="choice-creation"  method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input class="btn btn-primary" type="submit" id="send" value="Save">
</form>

{% else %}
<h2 id="too-late">Too late to choose a meal :(!</h2>
{% endif %}
</div>
{% endblock %}
